export("IFNbiomass", "IFNvolume")
importFrom("tidyr", "%>%")
importFrom("dplyr", "group_by", "summarize", "summarize_at", "distinct", "bind_rows")
importFrom("tibble","add_column")
importFrom("utils", "txtProgressBar", "setTxtProgressBar")
